#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(34, 17, 17);
  color: #fff;
  box-sizing: border-box;
  border-radius: 5px;

}

.singleCard{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    border: 1px solid aqua;
    border-radius: 5px;
    margin-bottom: 5px;
    gap: 10%;
}
.iconContainer {
    position: absolute;
    display: flex;
   justify-content: space-between;
    width: 97%;
    
  }
  .link-icon-del{
    align-self: flex-start;
    color: rgba(244, 134, 134, 0.694);
  }  .link-icon-update{
    align-self: flex-end;
    color: #646cffb3;
  }

  .icon-del:hover{
    color: red !important;
  }
button{
    margin:20px;
    color: #646cff;
    background-color:transparent;
    transition: all ease-in-out;
  
}
button:hover{
    background-color: #646cff;
    color: #fff;
}
.addingTask {
    display: flex;
    flex-direction: column;
}
h2{
  color: rgba(0, 255, 255, 0.744);
}
span{
  color: #646cffb6;
}

.form-users{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.errors-form{
  background-color: red;
  width: 100%;
  color: #fff;
  margin: 0 1px;
  font-size: 10px;
}